<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Winspector</title>
  <%= javascript_include_tag "folder/detail_upload" %>
  <%= stylesheet_link_tag    "folder/detail_upload", :media => "all" %>
</head>

<body class="<%= controller.controller_name %>">

<%= yield %>

</body>
</html>
